prompt = no
distinguished_name = my_req_distinguished_name
req_extensions = my_extensions

[ my_req_distinguished_name ]
C = FR
O  = ###DC###
CN = Root certificate

[ my_extensions ]
basicConstraints=CA:FALSE
